.emailList {
  flex: 1;
  overflow: scroll;
}

/* Hide scrollbar for chrome, safari and opera */
.emailList::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE,Edge and Firefox */
.emailList {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.emailList__setting {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
  padding-right: 10px;
}

/* z-Index =  z-index is a property of CSS which is used to displace elements on the z-axis i.e in or out of the screen. It is used to define the order of elements if they overlap on each other. 
 max value of z-Index = 2747483647

*/
.emailList__section {
  position: sticky;
  top: 0;
  display: flex;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
}
.emailList__list {
  padding-bottom: 20%;
}
